
  .movieCard {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    &--title{
      h2 {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        height: 100%;
        width: 220px;
        opacity: 0;



        &:hover {
          opacity: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          text-align: center;
          border-radius: 10px;
        }
      }

      img {
        display: block;
        border-radius: 10px;

      }
    }


  }
