#footer{
  padding: 80px 0;
  background: #000000;
  .line{
    width: 100%;
    height: 5px;
    background: #5b4c4c;
  }
  .footer{
    display: flex;
    align-items: start;
    justify-content: space-around;
    &--title{
      h2{
        font-size: 22px;
        font-weight: 500;
        color: #ffffff;
        padding: 20px 0;
      }
      h3{
        font-size: 18px;
        font-weight: 400;
        color: #bebbbb;
        padding-bottom: 20px;
      }
    }
    &--text{
      margin-top: 45px;

      h3{
        font-size: 18px;
        font-weight: 400;
        color: #bebbbb;
        padding-bottom: 20px;
      }
    }
  }
}